@import "variables";
@import "mixin";

// Reusable Input component style

// Reusable button
.reusable-button {
  @include common-button-template;
  background-color: $primary-color;
  color: $primary-background-color;

  &:hover {
    background-color: $hover-color;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .password-input {
    position: relative;
    display: flex;
    align-items: center;

    .hide-and-show-pass {
      position: absolute;
      right: 1rem; // Adjust as necessary
      cursor: pointer;
    }
  }

  // Input box style
  .input-box {
    @include common-input-container-template;
    height: 5rem;

    input {
      padding-top: 0.3rem;
      @include common-input-template;
    }
  }

  // Reusable Navigator
  .navigator-container {
    margin-top: -10px;
  }
}

// Alert box styles
.alert-box {
  color: $error-color; /* Replace with your actual color variable or value */
  animation: alertAnimation 1s infinite alternate; /* Adjust animation duration and type as needed */
}

@keyframes alertAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

// Style for the reusable custom toast
// styles/ToastStyles.scss
.custom-toast {
  font-size: 16px; // Set the font size
  background-color: #333; // Customize background color
  color: #fff; // Customize text color
  padding: 10px 20px; // Customize padding
  border-radius: 5px; // Customize border radius
  text-align: center; // Center the text
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add a shadow for better visibility
}

.custom-toast .toast-icon {
  margin-right: 10px; // Add space between icon and text
}
